.w{
	width: 40%;
	margin: 0 auto;
	margin-top: 5%;
}

.title{
	background-color: #ff5b20;
	height: 50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.content{
	color: white;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 25px;
	padding-top: 0.5%;
	display: block;
	text-align: center;
}

.span1{
	font-size: 20px;
	font-family: "Î¢ÈíÑÅºÚ";
}

.input1{
	position: absolute;
	width: 20%;
	height: 4.5%;
	text-indent: 1em;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}

.div1{
	margin-top: 20%;
	margin-left: 15%;
}

.div2{
	margin-top: 10%;
	margin-left: 25%;
}

.div3{
	margin-left: 12%;
	margin-top: 2%;
}